{{ header }}
<div id="product-product" class="container-fluid container-lg flex-grow-1 sc-product mobile-no-gutters">
 	<nav aria-label="breadcrumb">
        <ul class="breadcrumb sc-breadcrumb fsz-12">
			{% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
			<li class="breadcrumb-item sc-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
			<li class="breadcrumb-item sc-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
			{% endfor %}
		</ul>
	</nav>
    {% if oct_showcase_data.micro is defined and oct_showcase_data.micro %}
    <script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement":
			[
            {% for breadcrumb in breadcrumbs %}
			{% if loop.first %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ loop.index -1 }},
				"item":
				{
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}{% if not loop.last %},{% endif %}
			{% endif %}
            {% endfor %}
			]
		}
	</script>
    {% endif %}
    <div class="content-top-box">{{ content_top }}</div>
    {% if oct_popup_purchase_status is defined and can_buy %}
	<div class="sc-product-fixed-btns position-fixed d-md-none py-2 px-3">
		<div class="d-flex align-items-center justify-content-between">
			<button type="button" name="button" class="sc-btn sc-btn-outline sc-btn-outline-primary br-4 small fsz-12 sc-product-one-click-btn" onclick="octPopPurchase('{{ product_id }}')">
				{{ oct_product_quickbuy }}
			</button>
			<div class="sc-module-quantity" hidden>
				<input type="hidden" class="form-control" name="quantity" value="{{ minimum }}" id="fixed-input-quantity"/>
				<input type="hidden" name="product_id" value="{{ product_id }}"/>
				<input type="hidden" id="fixed-min-product-quantity" value="{{ minimum }}" name="min_quantity">
			</div>
			<button type="button" class="sc-btn sc-btn-primary small br-4 fsz-12 sc-product-fixed-cart-btn">
				<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="16" height="16" class="sc-btn-icon sc-btn-icon-cart-img">
				<span class="sc-btn-text">{{ button_cart }}</span>
			</button>
		</div>
	</div>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			showProductButtons();
		});
	</script>
    {% endif %}
    <main class="main">
        <div class="row">
            <div class="col-12 sc-page-title pb-3">
                <h1>{{ heading_title }}</h1>
			</div>
		</div>
        <div id="content" class="row">
            <div class="col-12 sc-product-tabs-box sticky-md-top">
                <div id="oct-tabs" class="sc-product-tabs d-flex align-items-stretch w-100">
                    <div data-tab-target=".breadcrumb" class="sc-product-tab d-flex align-items-center justify-content-center active">
                        <img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--product-tab-info-icon" alt="" width="24" height="24">
                        <span class="sc-product-tab-title ps-2 fsz-14">{{ oct_product_maintab }}</span>
					</div>
                    {% if attribute_groups %}
                    <div data-tab-target=".sc-product-content-attributes" class="sc-product-tab sc-product-tab-attributes d-flex align-items-center justify-content-center">
                        <span class="sc-product-tab-title ps-2 fsz-14">{{ tab_attribute }}</span>
					</div>
                    {% endif %}
                    {% if review_status %}
                    <div data-tab-target=".sc-product-content-reviews" class="sc-product-tab sc-product-tab-reviews d-flex align-items-center justify-content-center">
                        {{ tab_review }}
					</div>
                    {% endif %}
					
                    {% if oct_product_extra_tabs %}
					{% set key = 0 %}
					{% for extra_tab in oct_product_extra_tabs %}
					{% set key = key + 1 %}
					<div data-tab-target="#product_extra_tab-{{ key }}" class="sc-product-tab d-flex align-items-center justify-content-center">
						<span class="sc-product-tab-title ps-2 fsz-14">{{ extra_tab.title }}</span>
					</div>
					{% endfor %}
                    {% endif %}
                    {% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
                    <div uk-tooltip=" {{ dop_tab.title }} " data-tab-target="#product_dop_tab" class="sc-product-tab uk-text-center uk-text-middle">
                        <span class="sc-product-tab-title">
							<span class="uk-txt-violtlight">
								<i class="fa-solid fa-circle-exclamation fa-lg"></i>
							</span>
						</span>
					</div>
                    {% endif %}
				</div>
                <script>
					window.addEventListener('DOMContentLoaded', () => {
						octProductTabs();
					});
				</script>
			</div>
            <div id="productImages" class="col-lg-6 mt-md-3">
                <div class="content-block sc-product-images px-0 pt-3 pt-md-4 mobile-no-radius no-hover-shadow sticky-md-top">
                    <div class="sc-module-stickers d-flex align-items-center justify-content-between mb-3 px-3 px-md-4">
                        <div class="sc-module-stickers-left d-flex align-items-center">
                            {% if special and oct_sticker_you_save %}
							<div id="main-product-you-save" class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-red">{{ you_save }}</div>
                            {% endif %}
                            {% if oct_product_stickers %}
							{% for key, oct_sticker in oct_product_stickers %}
							{% if oct_sticker is not empty and oct_sticker is iterable %}
							<div class="sc-module-sticker sc-module-sticker-image pe-0 py-0 order-1">
								<img src="{{ oct_sticker.image }}" alt="{{ oct_sticker.title }}" data-bs-html="true" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" title="{{ oct_sticker.title }}" data-bs-content="{{ oct_sticker.description }}" width="24" height="24" />
							</div>
							{% elseif oct_sticker is not empty %}
							<div class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-{{ key }}">
								{{ oct_sticker }}
							</div>
							{% endif %}
							{% endfor %}
                            {% endif %}
						</div>
                        <div class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-green{% if out_of_stock %} out-of-stock{% endif %}">{% if oct_stock_display and not out_of_stock %} {{ oct_product_config_stock_display }} {% endif %}{{ stock }}</div>
					</div>
                    {% if thumb or images %}
					{% if thumb %}
					<div class="sc-product-images-main px-3">
						<div class="sc-product-images-slide pb-3 pb-md-4">
							<a href="{{ popup }}" class="oct-gallery d-block" onclick="return false;">
								<img src="{{ thumb }}" class="d-block mx-auto" alt="{{ heading_title }}" title="{{ heading_title }}" width="{{ thumb_width }}" height="{{ thumb_height }}" />
							</a>
						</div>
						{% for key, image in images %}
						{% set i = key + 1 %}
						{% if loop.index0 > 0 %}
						<div class="sc-product-images-slide pb-3 pb-md-4">
							<a href="{{ image.popup_fancy }}" class="oct-gallery d-block" onclick="return false;">
								<img src="{{ image.popup }}" class="d-block mx-auto" alt="{{ heading_title }}" title="{{ heading_title }}" width="{{ thumb_width }}" height="{{ thumb_height }}" />
							</a>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					{% if images %}
					<div class="sc-product-images-additional mt-xxl-3 d-none d-md-flex align-items-stretch">
						{% for key, image in images %}
						{% set i = key + 1 %}
						<a class="sc-product-images-additional-item" href="{{ image.popup }}" onClick="return false;" data-href="{{ image.popup }}">
							<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" width="{{ image.images_width }}" height="{{ image.images_height }}" />
						</a>
						{% endfor %}
					</div>
					{% endif %}
					<script>
						$(function() {
							setTimeout(function() {
								$('#image-additional').slick('refresh');
								$('.image-additional-box').addClass('overflow-visible');
							}, 500);
							
							var sliderProducts = $('.sc-product-images-main a');
							
							sliderProducts.on('click', function(e) {
								e.preventDefault();
								
								var totalSlides = $(this).parents('.sc-product-images-main').slick("getSlick").slideCount,
								dataIndex = $(this).parents('.sc-product-images-slide').data('slick-index'),
								trueIndex;
								
								switch(true) {
									case (dataIndex < 0):
									trueIndex = totalSlides+dataIndex;
									
									break;
									case (dataIndex >= totalSlides):
									trueIndex = dataIndex%totalSlides;
									
									break;
									default:
									trueIndex = dataIndex;
								}
								
								$.fancybox.open(sliderProducts, {backFocus: false, hideScrollbar: false, loop : true}, trueIndex);
								
								return false;
							});
							
							{% if images %}
							$('.sc-product-images-main').slick({
								infinite: true,
								slidesToShow: 1,
								slidesToScroll: 1,
								fade: false,
								draggable: false,
								asNavFor: '.sc-product-images-additional',
								dots: false,
								arrows: false,
								responsive: [
								{
									breakpoint: 768,
									settings: {
										dots: {% if images|length <= 1 %}false{% else %}true{% endif %}
									}
								}
								]
							});
							$('.sc-product-images-additional').slick({
								infinite: {% if images|length > 3 %}true{% else %}false{% endif %},
								slidesToShow: 6,
								slidesToScroll: 1,
								focusOnSelect: true,
								asNavFor: '.sc-product-images-main',
								dots: false,
								prevArrow: '<button type="button" class="slick-slider-btn slick-slider-btn-prev sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 overflow-hidden"><span class="sc-btn-icon" aria-label="Previous"></span></button>',
								nextArrow: '<button type="button" class="slick-slider-btn slick-slider-btn-next sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 overflow-hidden"><span class="sc-btn-icon" aria-label="Next"></span></button>',
								responsive: [
								{
									breakpoint: 1600,
									settings: {
										slidesToShow: 6,
										slidesToScroll: 1
									}
									}, {
									breakpoint: 1200,
									settings: {
										slidesToShow: 6,
										slidesToScroll: 1
									}
									}, {
									breakpoint: 992,
									settings: {
										slidesToShow: 6,
										slidesToScroll: 1
									}
									}, {
									breakpoint: 376,
									settings: {
										slidesToShow: 6,
										slidesToScroll: 1
									}
								}
								]
							});
							{% else %}
							$('.sc-product-images-main').slick({});
							{% endif %}
						});
					</script>
                    {% endif %}
				</div>
			</div>
            <div id="product" class="col-lg-6 mt-3">
				<div class="mb-3 px-2 py-1">
					<div class="row">
						<div class="col-md-6">
							<div class="alert alert-light" role="alert">
								<div class="fw-400 dark-text mt-1 fsz-12">{{ oct_product_date_added }} {{ date_added }}</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="alert alert-info" role="alert">
								<div class="mt-1 fsz-12">{{ oct_product_date_modified }} <span class="fw-500">{{ date_modified }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
                <div class="sc-product-info d-flex flex-column flex-md-row flex-lg-column flex-xl-row align-items-start align-items-md-center align-items-lg-start align-items-xl-center justify-content-between fsz-12 light-text">
                    <div class="sc-product-info-left d-flex align-items-center w-100 w-md-auto justify-content-between justify-content-md-start">
                        {% if manufacturer %}
						<div class="sc-product-info-item p-1 br-4{% if oct_showcase_data.product_model is defined and oct_showcase_data.product_model == 'on' %} ms-3{% endif %}">
							<span class="dark-text">{{ text_manufacturer }}</span> <a href="{{ manufacturers }}" class="blue-link">{{ manufacturer }}</a>
						</div>
                        {% endif %}
					</div>
					
                    {% if review_status %}
                    <div class="sc-product-info-right mt-3 mt-md-0 mt-lg-3 mt-xl-0">
                        <div class="sc-product-info-item p-1 br-4 d-flex align-items-center">
                            <span class="blue-link" id="reviewTabTrigger">{{ oct_product_reviews }}</span>
                            <script>
                                window.addEventListener('DOMContentLoaded', () => {
                                    let screenWidth = window.innerWidth;
									
                                    document.getElementById('reviewTabTrigger').addEventListener('click', () => {
                                        if (screenWidth < 768) {
                                            scrollToElement('.sc-product-content-reviews', '.sc-product-tab-reviews', -80);
											} else {
                                            scrollToElement('.sc-product-content-reviews', '.sc-product-tab-reviews', -140);
										}
									});
								});
							</script>
                            <span class="sc-product-info-item-badge br-4 mx-2 dark-text">{{ total_reviews }}</span>
                            <div class="sc-module-rating-stars d-flex align-items-center">
                                {% for i in 1..5 %}
								{% if rating < i %}
								<span class="sc-module-rating-star"></span>
								{% else %}
								<span class="sc-module-rating-star sc-module-rating-star-is"></span>
								{% endif %}
                                {% endfor %}
							</div>
						</div>
					</div>
                    {% endif %}
				</div>
                <div class="content-block sc-product-actions mt-3 p-0 mobile-no-radius no-hover-shadow">
                    <div class="sc-product-actions-top d-flex justify-content-between p-3 pb-4{% if can_buy %} with-border{% endif %}">
                        <div class="sc-product-actions-top-left">
                            {% if price %}
							<div class="sc-module-price-box pt-3">
								{% if not special %}
								<div class="uk-text-center">
									<div class="uk-margin">
										<div class="fw-800 dark-text mt-1 fsz-20">{{ price }}</div>
									</div> 
								</div>
								{% else %}
								<div class="sc-module-price-old fw-800 uk-txt-violtlight mt-1 fsz-18 ">{{ price }}</div>
								<div class="uk-card uk-card-body uk-card-small uk-background-pink border-pink uk-border-rounded">
									<div class="sc-module-sticker br-4 uk-text-center sc-module-price fw-800  mt-1 fsz-20 sc-module-sticker-stickers_special">{{ special }}</div>
									{% if product_timer %}
									<div class="sc-product-timer d-flex-inline mt-2">
										<div class="sc-product-timer-text dark-text fw-600 fsz-12">{{ oct_product_timer }}</div>
										<div class="sc-product-timer-inner d-inline-flex align-items-start justify-content-center">
											<div class="d-flex flex-column align-items-center">
												<div id="sc-timer-days" class="sc-product-timer-number red fw-600"></div>
												<span class="dark-text fsz-10">{{ oct_product_timer_days }}</span>
											</div>
											<div class="sc-product-timer-delimiter animated">:</div>
											<div class="d-flex flex-column align-items-center">
												<div id="sc-timer-hours" class="sc-product-timer-number red fw-600"></div>
												<span class="dark-text fsz-10">{{ oct_product_timer_hours }}</span>
											</div>
											<div class="sc-product-timer-delimiter animated">:</div>
											<div class="d-flex flex-column align-items-center">
												<div id="sc-timer-minutes" class="sc-product-timer-number red fw-600"></div>
												<span class="dark-text fsz-10">{{ oct_product_timer_minutes }}</span>
											</div>
											<div class="sc-product-timer-delimiter animated">:</div>
											<div class="d-flex flex-column align-items-center">
												<div id="sc-timer-seconds" class="sc-product-timer-number red fw-600"></div>
												<span class="dark-text fsz-10">{{ oct_product_timer_seconds }}</span>
											</div>
										</div>
									</div>
									<script>
										timerSpecial('.sc-product-timer', '{{ special_date_end }}T00:00:00');
									</script>
									{% endif %}
								</div>
								{% endif %}
								{% if oct_popup_found_cheaper_status is defined and oct_popup_found_cheaper_status == 'on' and can_buy %} 
								<div class="uk-margin-top">
									<button type="button" name="button" class="uk-button uk-button-small uk-btn-violtlight br-4  uk-text-capitalize" onclick="octPopupFoundCheaper('{{ product_id }}');">{{ oct_product_cheaper }}</button>
								</div> 
								{% endif %}
								{% if tax %}
								<div class="price-tax fsz-10 fw-300 mt-1">{{ text_tax }}
									<span>{{ tax }}</span>
								</div>
								{% endif %}
								{% if discounts %}
								{% for discount in discounts %}
								<div class="sc-product-price-discount fsz-12 mt-1">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
								{% endfor %}
								{% endif %}
								{% if minimum > 1 %}
								<div class="sc-product-option-minquant fsz-12 mt-1">{{ text_minimum }}</div>
								{% endif %}
								{% if points %}
								<div class="sc-product-option-bonus fsz-12 mt-1">{{ text_points }}
								{{ points }}</div>
								{% endif %}
								{% if reward %}
								<div class="sc-product-option-bonus fsz-12 mt-1">{{ text_reward }}
								{{ reward }}</div>
								{% endif %}
								{% if recurrings %}
								<div class="form-group d-flex flex-column flex-md-row align-items-md-center">
									<div class="sc-control-label fw-600 dark-text fsz-14">{{ text_payment_recurring }}
									<span class="required"> *</span></div>
									<div class="form-group">
										<select name="recurring_id" class="sc-select form-control">
											<option value="">{{ text_select }}</option>
											{% for recurring in recurrings %}
											<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
											{% endfor %}
										</select>
										<div class="help-block" id="recurring-description"></div>
									</div>
								</div>
								{% endif %}
							</div>
                            {% endif %}
                            {% if product_js_button is defined and product_js_button %}
							<div class="sc-product-social-buttons mt-3">{{ product_js_button }}</div>
                            {% endif %}
						</div>
                        <div class="sc-product-actions-top-right d-flex align-items-start gap-2">
                            <button type="button" class="sc-btn sc-btn-secondary sc-btn-with-icon br-4 sc-wishlist-btn" onclick="wishlist.add('{{ product_id }}');" title="{{ button_wishlist }}" aria-label="Wishlist button">
                                <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
							</button>
                            <button type="button" class="sc-btn sc-btn-secondary sc-btn-with-icon br-4 sc-compare-btn" onclick="compare.add('{{ product_id }}');" title="{{ button_compare }}" aria-label="Compare button">
                                <span class="sc-btn-icon sc-btn-icon-compare"></span>
							</button>
						</div>
					</div>
                    {% if can_buy %}
					<div class="sc-product-actions-middle px-3 py-4">
						{% if options %}
						<div id="sc-product-options" class="sc-product-options mb-4">
							{% for option in options %}
							{% if option.type == 'select' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14 mb-2" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>
									{% endif %}
								</label>
								<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="sc-select form-control">
									<option value="">{{ text_select }}</option>
									{% for option_value in option.product_option_value %}
									<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
										{% if option_value.price %}
										({{ option_value.price_prefix }}{{ option_value.price }})
										{% endif %}
									</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}
							{% if option.type == 'radio' %}
							<div class="form-group d-flex flex-column flex-md-row align-items-md-center mb-3">
								<label class="sc-control-label fw-600 dark-text fsz-14">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<div id="input-option{{ option.product_option_id }}" class="options-box d-flex mt-3 mt-sm-0">
									{% for option_value in option.product_option_value %}
									<div class="radio">
										<label
										data-bs-toggle="tooltip"
										data-bs-placement="top"
										class="option optid-{{ option.product_option_id }} not-selected{% if option_value.image %} radio-img{% else %} sc-radio{% endif %}{% if option.option_id in allowed_options_ids and loop.index == 1 %} auto-choose{% endif %}"
										title="{{ option_value.name }} {% if option_value.price %}{{ option_value.price_prefix }}{{ option_value.price }}{% endif %}">
											<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="input-radio"/>
											{% if option_value.image %}
											<img src="{% if oct_product_main_image_option_status is defined and oct_product_main_image_option_status and option_value.o_v_image is defined and option_value.o_v_image %}{{ option_value.o_v_image }}{% else %}{{ option_value.image }}{% endif %}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" width="50" height="50" />
											{% else %}
											{{ option_value.name }}
											{% endif %}
										</label>
										<script>
											$(document).ready(function() {
												$(document).on('click', 'label.optid-{{ option.product_option_id }}', function(event) {
													$('label.optid-{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
													$(this).removeClass('not-selected').addClass('selected');
												});
											});
										</script>
									</div>
									{% endfor %}
								</div>
							</div>
							{% endif %}
							{% if option.type == 'checkbox' %}
							<div class="form-checkbox-group mb-3">
								<div class="sc-control-label fw-600 dark-text fsz-14 mb-2">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</div>
								<div id="input-option{{ option.product_option_id }}">
									{% for option_value in option.product_option_value %}
									<div class="form-check d-flex align-items-center mb-0">
										<label class="form-check-label">
											{% if option_value.image %}<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" width="50" height="50" />{% endif %}
											<input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="form-check-input"/>
											{{ option_value.name }}
											{% if option_value.price %}
											({{ option_value.price_prefix }}{{ option_value.price }})
											{% endif %}
										</label>
									</div>
									{% endfor %}
								</div>
							</div>
							{% endif %}
							{% if option.type == 'text' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>
									{% endif %}
								</label>
								<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" inputmode="text">
							</div>
							{% endif %}
							{% if option.type == 'textarea' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
							</div>
							{% endif %}
							{% if option.type == 'file' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="sc-btn sc-btn-primary br-4">
									<i class="fa fa-upload me-2"></i>
								{{ button_upload }}</button>
								<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
							</div>
							{% endif %}
							{% if option.type == 'date' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<div class="input-group date">
									<input type="date" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
								</div>
							</div>
							{% endif %}
							{% if option.type == 'datetime' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<div class="input-group datetime">
									<input type="datetime-local" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
								</div>
							</div>
							{% endif %}
							{% if option.type == 'time' %}
							<div class="form-group">
								<label class="sc-control-label fw-600 dark-text fsz-14" for="input-option{{ option.product_option_id }}">{{ option.name }}
									{% if option.required %}
									<span class="required option-required"> *</span>{% endif %}
								</label>
								<div class="input-group time">
									<input type="time" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
						{% endif %}
						<div class="sc-product-buttons d-flex align-items-center">
							<div class="sc-module-quantity d-flex align-items-center justify-content-center py-1 br-12">
								<button type="button" aria-label="Minus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center" onclick="updateValueProduct(true, false, false);">
									<span class="minus"></span>
								</button>
								<input type="text" class="form-control" name="quantity" value="{{ minimum }}" id="input-quantity" aria-label="Quantity" inputmode="numeric">
								<button type="button" aria-label="Plus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center" onclick="updateValueProduct(false, true, false);">
									<span class="plus"></span>
								</button>
								<input type="hidden" name="product_id" value="{{ product_id }}"/>
								<input type="hidden" id="min-product-quantity" value="{{ minimum }}" name="min_quantity">
								<input type="hidden" id="max-product-quantity" value="{{ max_quantity }}" name="max_quantity">
							</div>
							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="sc-btn cs-custom-button_violet br-4">
								<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">
								<span class="sc-btn-text">{{ button_cart }}</span>
							</button>
						</div>
						<hr>
						<div class="uk-grid-small uk-child-width-1-2@m uk-flex-center uk-text-center" uk-grid>
							<div>
							    <button type="button" name="button" class="uk-button uk-button-success" onclick="octPopPurchase('{{ product_id }}')"  title="{{ oct_product_quickbuy_tooltip }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ oct_product_quickbuy_tooltip }}">{{ oct_product_quickbuy }}</button>
							</div>
							<div class="uk-flex-last">
							    <button type="button" name="button" class="uk-button uk-btn-warnlight shadow-warnlight " data-bs-toggle="modal" data-bs-target="#faqModal">{{ text_faq_button }}</button>
							</div>
						</div>
					</div>
					{{ oct_byoneclick }}
                    {% else %}  
					<div class="pt-4 pt-md-0 px-3 px-lg-4">
						<div class="uk-card uk-card-small uk-card-body uk-background-blur-warnlight uk-border-rounded uk-margin-bottom">
							<div class="sc-product-content-title d-flex align-items-center">
								<span class="fsz-24 fw-500 dark-text">{{ text_prd_out_of_stock }}</span>
							</div>
							<div class="mt-3">
								<h4 class="uk-h4 uk-margin-bottom">{{ text_search_prd_note }}</h4>
								<div class="px-3 pb-3">
									<a href="{{ text_search_link }}" rel="nofollow" class="uk-button uk-button-large uk-btn-scmtdlight shadow-scmtdlight">
										<span class="">{{ text_search_prd }}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					{% if oct_stock_notifier_status is defined and oct_stock_notifier_status is not empty %}
					<div class="px-3 pb-3">
						<button onclick="octStockNotifier('{{ product_id }}');" type="button" class="sc-btn sc-btn-primary br-4 sc-stock-notifier-btn">
							<span class="sc-btn-text">{{ oct_stock_notifier_text }}</span>
						</button>
					</div>
					<script>
						function octStockNotifier(product_id) {
							masked('body', true);
							
							$(".modal-backdrop").remove();
							
							$.ajax({
								type: 'post',
								dataType: 'html',
								url: 'index.php?route=octemplates/module/oct_stock_notifier',
								data: 'product_id=' + product_id,
								cache: false,
								success: function (data) {
									masked('body', false);
									$(".modal-holder").html(data);
									$("#octStockNotifier").modal("show");
									popupClose();
								}
							});
						}
					</script>
					{% endif %}
                    {% endif %}
				</div>
				{% if oct_attributs %}
				<div class="sc-product-attr d-none d-md-block">
					<div class="sc-product-attr-title p-3">
						<span class="fsz-14 dark-text fw-600">{{ oct_product_attributes }}</span>
						<span class="blue-link fsz-12" id="attr-quick-view" onclick="scrollToElement('.sc-product-content-attributes', '.sc-product-tab-attributes', -140);">{{ oct_product_attributes_seeall }}</span>
					</div>
					<div class="sc-product-attr-list fsz-14">
						{% for attribute in oct_attributs %}
						<div class="sc-product-attr-list-item d-flex">
							<div class="dark-text fw-500 fsz-14">{{ attribute.name }}</div>
							<div>{{ attribute.text }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
                {% endif %}
			</div>
            <div class="sc-product-content col-12">
                <div class="row g-0">
                    <div class="col-lg-8 col-xl-9 sc-product-content-left py-3 py-lg-4 order-1 order-lg-0">
                        {% if description %}
						<div class="sc-product-content-description pb-4 mb-md-4 px-3 px-lg-4">
							<div class="sc-product-content-title d-flex align-items-center">
								<div class="sc-product-content-title-icon d-flex align-items-center justify-content-center br-4">
									<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--product-content-description-icon" alt="" width="16" height="16">
								</div>
								<span class="fsz-24 fw-600 dark-text">{{ oct_product_description }}</span>
							</div>
							<div class="sc-product-content-text dark-text fsz-14 mt-3">
								{% if teslafeo_product_video %}
								<hr>
								{{ teslafeo_product_video }}
								<hr>
								{% endif %}
								{{ description }}
								
								<hr>
								{% if oct_showcase_data.product_model is defined and oct_showcase_data.product_model == 'on' %}
								<div class="sc-product-info-item p-1 br-4">
									<span class="dark-text">{{ text_model }} {{ model }} / {{ product_id }} / {{ viewed }}</span>
								</div>
								{% endif %}
								
								{% if tags %}
								<hr>
								<p class="sc-product-tags uk-margin-bottom">{{ text_tags }}</p>
								<div class="uk-grid-small" uk-grid> 
									{% for i in 0..tags | length - 1 %} 
									<div>
										<a rel="nofollow" href="{{ tags[i].href }}">
											<span class="uk-label">{{ tags[i].tag }}</span>
										</a>
									</div> 
									{% endfor %} 
								</div> 
								{% endif %}
								<hr>
								
							</div>
						</div>
                        {% endif %}
                        {% if attribute_groups %}
						<div class="sc-product-content-attributes pb-4 mb-md-4 pt-4 pt-md-0 px-3 px-lg-4">
							<div class="sc-product-content-title d-flex align-items-center">
								<div class="sc-product-content-title-icon d-flex align-items-center justify-content-center br-4">
									<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--product-content-attrs-icon" alt="" width="16" height="16">
								</div>
								<span class="fsz-24 fw-600 dark-text">{{ oct_product_attributes_tab }}</span>
							</div>
							<div class="dark-text fsz-14 mt-3">
								{% for attribute_group in attribute_groups %}
								<div class="sc-product-content-attributes-list">
									<div class="sc-product-content-attributes-list-title">{{ attribute_group.name }}</div>
									{% for attribute in attribute_group.attribute %}
									<div class="sc-product-content-attributes-list-item d-flex justify-content-between">
										<div>{{ attribute.name }}</div>
										<div>{{ attribute.text }}</div>
									</div>
									{% endfor %}
								</div>
								{% endfor %}
							</div>
						</div>
                        {% endif %}
                        {% if oct_product_extra_tabs %}
						{% set key = 0 %}
						{% for extra_tab in oct_product_extra_tabs %}
						{% set key = key + 1 %}
						<div id="product_extra_tab-{{ key }}" class="sc-product-content-info pt-4 pt-md-0 px-3 px-lg-4">
							<div class="uk-card uk-card-small uk-card-body uk-alert-primary uk-margin-bottom">
								<div class="sc-product-content-title d-flex align-items-center">
									<span class="fsz-24 fw-600 dark-text">{{ extra_tab.title }}</span>
								</div>
								<div class="sc-product-content-text dark-text fsz-14 mt-3">{{ extra_tab.text }}</div>
							</div>
						</div>
						{% endfor %}
						<hr>
                        {% endif %}
                        {% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
						<div id="product_dop_tab" style="background: rgb(247, 242, 255)!important;"  class="uk-card uk-border-rounded uk-padding-small">
							<div class="sc-product-content-title d-flex align-items-center">
								<h3 class="uk-txt-warnlight uk-text-bold"><span class="uk-txt-violtlight uk-margin-small-right">
									<i class="fa-solid fa-circle-exclamation fa-lg"></i>
								</span>{{ dop_tab.title }}</h3>
							</div>
							<div class="sc-product-content-text dark-text fsz-14 mt-3">{{ dop_tab.text }}</div>
						</div>
                        {% endif %}
						<hr>
                        {% if review_status %}
						<div class="sc-product-content-reviews pb-4 mb-md-4 pt-4 pt-md-0 px-3 px-lg-4">
							<div class="d-flex flex-column flex-md-row align-items-md-end justify-content-md-between">
								<div class="mb-4 mb-md-0">
									<div class="sc-product-content-title d-flex align-items-center">
										<div class="sc-product-content-title-icon d-flex align-items-center justify-content-center br-4">
											<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--product-content-reviews-icon" alt="" width="16" height="16">
										</div>
										<span class="fsz-24 fw-600 dark-text">{{ tab_review_view }}</span>
									</div>
									<div class="sc-product-content-reviews-rating fw-600"><span class="fsz-32 ">{{ oct_rating }}</span><span class="fsz-20 light-text"> / 5</span></div>
									<div class="sc-product-content-reviews-rating-text light-text fsz-14 mb-4">{{ tab_review_c }}</div>
									{% if review_guest %}
									<button type="button" class="sc-btn sc-btn-outline sc-btn-outline-primary br-4" data-bs-toggle="modal" data-bs-target="#reviewModal">{{ tab_review_add }}</button>
									<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header p-4">
													<h5 class="modal-title fsz-20 d-flex align-items-center justify-content-between" id="reviewModalLabel">{{ text_write }}</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body p-4">
													<form id="popup_review_form">
														<div class="content-block d-flex modal-body-product br-8 mb-4">
															<div class="modal-body-product-img p-2 br-8 d-flex align-items-center justify-content-center">
																<img src="{{ thumb }}" alt="{{ heading_title }}" width="64" height="64">
															</div>
															<div class="modal-body-product-info ps-3 dark-text d-flex flex-column justify-content-between">
																<div class="modal-body-product-title fw-700 fsz-12">{{ heading_title }}</div>
																<div class="sc-module-rating-box d-flex align-items-center">
																	<span class="fw-700 dark-text pe-2 pe-sm-4">{{ text_oct_review }}</span>
																	<div class="sc-module-rating d-flex align-items-center br-4">
																		<div class="sc-module-rating-stars d-flex align-items-center">
																			<label class="sc-module-rating-star sc-module-rating-star-is"><input class="d-none" type="radio" name="rating" value="1" checked/></label>
																			<label class="sc-module-rating-star sc-module-rating-star-is"><input class="d-none" type="radio" name="rating" value="2" checked/></label>
																			<label class="sc-module-rating-star sc-module-rating-star-is"><input class="d-none" type="radio" name="rating" value="3" checked/></label>
																			<label class="sc-module-rating-star sc-module-rating-star-is"><input class="d-none" type="radio" name="rating" value="4" checked/></label>
																			<label class="sc-module-rating-star sc-module-rating-star-is"><input class="d-none" type="radio" name="rating" value="5" checked/></label>
																		</div>
																	</div>
																	<script>
																		window.addEventListener('DOMContentLoaded', () => {
																			reviewsRating('#popup_review_form');
																		});
																	</script>
																</div>
															</div>
														</div>
														<div class="form-group pb-3">
															<label for="inputReviewName" class="fsz-14 dark-text fw-500 pb-1"><span class="required">* </span>{{ entry_name }}</label>
															<input type="text" name="name" class="form-control" id="inputReviewName" placeholder="{{ entry_name }}" inputmode="text">
														</div>
														<div class="form-group pb-3">
															<label for="inputReviewComment" class="fsz-14 dark-text fw-500 pb-1"><span class="required">* </span>{{ oct_product_yourreview }}</label>
															<textarea id="inputReviewComment" name="text" class="form-control" placeholder="{{ oct_product_yourreview }}"></textarea>
														</div>
														<div class="sc-modal-comment fsz-12">{{ text_note }}</div>
														<div class="form-group pb-3">
															{{ captcha }}
														</div>
														<button type="button" id="button-review" class="sc-btn sc-btn-primary br-2">{{ button_continue }}</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
								</div>
								<div class="sc-product-content-reviews-summary">
									{% for oct_key, oct_raiting_stat in oct_raiting_stats %}
									<div class="sc-product-content-reviews-rating-item d-flex align-items-center">
										<div class="sc-product-content-reviews-rating-stars d-flex align-items-center">
											<span class="sc-module-rating-star{% if oct_key >= 5 %} sc-module-rating-star-is{% endif %}"></span>
											<span class="sc-module-rating-star{% if oct_key >= 4 %}  sc-module-rating-star-is{% endif %}"></span>
											<span class="sc-module-rating-star{% if oct_key >= 3 %}  sc-module-rating-star-is{% endif %}"></span>
											<span class="sc-module-rating-star{% if oct_key >= 2 %}  sc-module-rating-star-is{% endif %}"></span>
											<span class="sc-module-rating-star{% if oct_key >= 1 %}  sc-module-rating-star-is{% endif %}"></span>
										</div>
										<div class="sc-product-content-reviews-rating-line">
											<span class="sc-product-content-reviews-rating-line-value" style="width: {{ oct_raiting_stat.raiting }}%;"></span>
										</div>
										<div class="sc-product-content-reviews-rating-value text-center">{{ oct_raiting_stat.sum }}</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div id="review" class="dark-text fsz-14 mt-4">
								{% if oct_reviews_list is not empty %}
								{{ oct_reviews_list }}
								{% endif %}
							</div>
						</div>
                        {% endif %}
                        {% if oct_product_faq is defined and oct_product_faq %}
						{{ oct_product_faq }}
                        {% endif %}
						
						<div class="content contentblock" style="color: rgb(55, 76, 97); padding: 10px; box-sizing: border-box; text-align: justify; font-size: 13px;">
							{{ text_buy_description }} 11
						</div>
					</div>
                    <div class="col-lg-4 col-xl-3 sc-product-content-right p-3 px-md-0 p-lg-4 order-1 order-lg-1">
                        {% if (oct_showcase_data.product_advantage is defined and oct_showcase_data.product_advantage == 'on') and (oct_product_advantages is defined and oct_product_advantages is not empty) %}
						<div class="sc-product-content-advantages d-flex flex-column flex-md-row flex-lg-column pb-lg-3 g-3">
							{% for advantage in oct_product_advantages %}
							<div class="sc-product-content-advantages-item">
								<div class="d-flex align-items-center">
									<img src="{{ advantage.icone }}" alt="" width="32" height="32" />
									<a href="{{ advantage.link }}" {% if advantage.information_id and advantage.popup %} data-rel="{{ advantage.information_id }}" {% elseif advantage.link != "javascript:;" %} target="_blank" {% endif %} class="sc-product-content-advantages-item-title text-uppercase fsz-14 fw-600{% if advantage.popup %} agree{% endif %}">{{ advantage.title }}</a>
								</div>
								<div class="sc-product-content-advantages-item-text fsz-12 mt-2">
									{{ advantage.text }}
								</div>
							</div>
							{% endfor %}
						</div>
                        {% endif %}
                        <div class="sc-product-content-card sc-module-item sticky-top d-none d-lg-block">
                            <div class="content-block d-flex flex-column">
                                <div class="sc-module-img position-relative">
                                    {% if thumb %}
									<img class="img-fluid" src="{{ thumb }}" alt="" width="230" height="180">
                                    {% endif %}
                                    <div class="sc-module-btns d-flex flex-column position-absolute">
                                        <button type="button" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-wishlist-btn" onclick="wishlist.add('{{ product_id }}');" title="{{ button_wishlist }}" aria-label="Wishlist button">
                                            <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
										</button>
                                        <button type="button" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-compare-btn" onclick="compare.add('{{ product_id }}');" title="{{ button_compare }}" aria-label="Compare button">
                                            <span class="sc-btn-icon sc-btn-icon-compare"></span>
										</button>
									</div>
								</div>
                                <div class="sc-module-caption d-flex flex-column justify-content-between py-md-2 h-100">
                                    <div class="dark-text fw-700 fsz-14">{{ heading_title }}</div>
                                    {% if price %}
									<div class="sc-module-price-box py-2 mt-auto">
										{% if not special %}
										<div class="sc-module-price fw-800 dark-text mt-1">{{ price }}</div>
										{% else %}
										<div class="sc-module-price-old light-text fsz-14">{{ price }}</div>
										<div class="sc-module-price fw-800 dark-text mt-1">{{ special }}</div>
										{% endif %}
									</div>
                                    {% endif %}
								</div>
                                {% if can_buy %}
								<div class="sc-module-cart d-flex align-items-stretch justify-content-between">
									<div class="sc-module-quantity d-flex align-items-center justify-content-center py-1 br-12 ">
										<button type="button" aria-label="Minus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center sc-minus">
											<span class="minus"></span>
										</button>
										<input type="text" class="form-control" name="quantity" value="1" aria-label="Quantity" inputmode="numeric">
										<button type="button" aria-label="Plus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center sc-plus">
											<span class="plus"></span>
										</button>
										<input type="hidden" name="product_id" value="{{ product_id }}">
									</div>
									<button type="button" class="sc-btn sc-btn-primary sc-btn-with-icon br-4 sc-product-fixed-cart-btn" aria-label="To cart">
										<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">
										<span class="sc-btn-text">{{ button_cart }}</span>
									</button>
								</div>
                                {% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
    {% if products %}
	{{ products }}
    {% endif %}
    {% if oct_related_articles %}
	<div id="sc-related-article" class="row mt-3 mt-md-0 p-3 p-md-0 pt-xl-3 g-3 g-xl-4 sc-module">
		<div class="sc-module-header fsz-22 dark-text fw-700 text-center text-md-start mt-0 mt-md-2 mb-2">{{ oct_product_related_articles }}</div>
		{% for article in oct_related_articles %}
		<div class="sc-last-news-item">
			<div class="content-block h-100 d-flex flex-column p-0 pb-3 overflow-hidden">
				<a href="{{ article.href }}" title="{{ article.name }}">
					<img src="{{ article.thumb }}"{% if oct_lazyload is defined and oct_lazyload %} data-srcset="{{ article.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw" class="img-fluid oct-lazy"{% else %} class="img-fluid w-md-100"{% endif %} alt="{{ article.name }}" width="{{ article.width }}" height="{{ article.height }}" />
				</a>
				<div class="sc-last-news-caption d-flex flex-column justify-content-between w-100">
					<div class="sc-last-news-info d-flex align-items-center justify-content-between p-3">
						<div class="d-flex align-items-center">
							{% for blog_category_name in article.blog_categories %}
							<span class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-green me-1">{{ blog_category_name }}</span>
							{% endfor %}
						</div>
						<span class="sc-last-news-item-date fsz-12">{{ article.date_added }}</span>
					</div>
					<a href="{{ article.href }}" class="sc-last-news-title fw-700 fsz-14 dark-text px-3">{{ article.name }}</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
    {% endif %}
    {{ content_bottom }}
</div>
{% if oct_product_main_image_option_status is defined and oct_product_main_image_option_status %}
<script>
	$(document).on('change', '#sc-product-options .radio', function() {
		
		$.ajax({
			url: 'index.php?route=product/product/getPImages&product_id={{ product_id }}',
			type: 'post',
			data: $('#sc-product-options input[type=\'radio\']:checked'),
			dataType: 'json',
			success: function(json) {
				
				if (json['images']) {
					$('.sc-product-images-additional, .sc-product-images-main').slick('slickRemove', null, null, true);
					$.fancybox.destroy();
					
					const obj = JSON.parse(JSON.stringify(json['images']));
					
					Object.keys(obj).forEach(el => {
						const popupImage = obj[el].popup,
                        thumbImage = obj[el].thumb,
                        sliderImage = obj[el].thumb_slider,
                        width = obj[el].width,
                        height = obj[el].height,
                        thumbHeight = obj[el].thumb_height,
                        thumbWidth = obj[el].thumb_width;
						
						$('.sc-product-images-additional').slick('slickAdd',`
                        <div class="image-additional-item">
						<a class="sc-product-images-additional-item" href="${thumbImage}" onClick="return false;" data-href="${thumbImage}">
						<img src="${thumbImage}" width="${thumbWidth}" height="${thumbHeight}" />
						</a>
                        </div>`);
						
						$('.sc-product-images-main').slick('slickAdd',`
                        <div class="sc-product-images-slide sc-product-images-slide-opt pb-3 pb-md-4">
						<a href="${popupImage}" class="oct-gallery d-block" onClick="return false;">
						<img src="${sliderImage}" width="${width}" height="${height}" class="d-block mx-auto" />
						</a>
                        </div>`);
					});
					
					{% if oct_showcase_data.product_zoom is defined and oct_showcase_data.product_zoom %}
                    $(".oct-gallery").zoom();
					{% endif %}
					
					let sliderProductsOpt = $('.sc-product-images-slide-opt:not(.slick-cloned) a');
					
					$('.sc-product-images-slide a').on('click', function(e) {
						e.preventDefault();
						
						var totalSlides = $(this).parents('.sc-product-images-main').slick("getSlick").slideCount,
                        dataIndex = $(this).parents('.sc-product-images-slide').data('slick-index'),
                        trueIndex;
						
						switch(true) {
							case (dataIndex < 0):
                            trueIndex = totalSlides+dataIndex;
							
                            break;
							case (dataIndex >= totalSlides):
                            trueIndex = dataIndex%totalSlides;
							
                            break;
							default:
                            trueIndex = dataIndex;
						}
						
						$.fancybox.open(sliderProductsOpt, {backFocus: false, hideScrollbar: false}, trueIndex);
						
						return false;
					});
				}
			}
		});
	});
</script>
{% endif %}
<script>
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function() {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            cache: false,
            beforeSend: function() {
                $('#recurring-description').html('');
			},
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
				
                if (json['success']) {
                    $('#recurring-description').html(json['success']);
				}
			}
		});
	});
</script>
<script>
    $('body').on('click', '#button-cart, .sc-product-fixed-cart-btn', function(){
        let data;
		
        if (this.classList.contains('sc-product-fixed-cart-btn')) {
            data = $('.sc-product-content-card input[type=\'text\'], .sc-product-content-card input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea, #product input[type=\'date\'], #product input[type=\'datetime-local\'], #product input[type=\'time\']');
			} else {
            data = $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea, #product input[type=\'date\'], #product input[type=\'datetime-local\'], #product input[type=\'time\']');
		}
		
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: data,
            dataType: 'json',
            cache: false,
            beforeSend: function() {
                $('#button-cart').button('loading');
			},
            complete: function() {
                $('#button-cart').button('reset');
			},
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');
				
                if (json['error']) {
                    if (json['error']['option']) {
                        let errorOption = '';
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));
							
                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger fsz-14 fw-500 mb-4">' + json['error']['option'][i] + '</div>');
								} else {
                                element.parent().after('<div class="text-danger fsz-14 fw-500 mb-4">' + json['error']['option'][i] + '</div>');
							}
                            errorOption += '<div class="alert-text-item">' + json['error']['option'][i] + '</div>';
						}
                        scNotify('danger', errorOption);
                        
                        scrollToElement('.sc-product-actions-middle', false, -110);
                        return;
					}
					
                    if (json['error']['error_warning']) {
                        scNotify('danger', json['error']['error_warning']);
					}
					
                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
					}
					
                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
				}
				
                if (json['success']) {
                    if (json['isPopup']) {
                        octPopupCart();
						} else {
                        scNotify('success', json['success']);
					}
					
                    let cartIdsHolder = document.querySelector("[data-cart-ids]");
					
                    if (json.oct_cart_ids && json.oct_cart_ids.length > 0 && cartIdsHolder) {
                        cartIdsHolder.dataset.cartIds = json.oct_cart_ids;
                        setCartBtnAdded();
					}
					
                    // Need to set timeout otherwise it wont update the total
                    setTimeout(function() {
                        $('#cart .header-buttons-cart-quantity').html(json['total_products']);
                        $('.rm-header-cart-text').html(json['total_amount']);
					}, 100);
				}
			},
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
<script>
    $('button[id^=\'button-upload\']').on('click', function() {
        var node = this;
		
        $('#form-upload').remove();
		
        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
		
        $('#form-upload input[name=\'file\']').trigger('click');
		
        if (typeof timer != 'undefined') {
            clearInterval(timer);
		}
		
        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);
				
                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
					},
                    complete: function() {
                        $(node).button('reset');
					},
                    success: function(json) {
                        $('.text-danger').remove();
						
                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
						}
						
                        if (json['success']) {
                            alert(json['success']);
							
                            $(node).parent().find('input').val(json['code']);
						}
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});
</script>
<script>
    $('#review').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();
        $('#review').load(this.href);
        scrollToElement('.sc-product-content-reviews', false, -140);
	});
	
    $("#inputReviewName, #inputReviewComment").on("change paste keyup", function() {
        $(this).removeClass('error_style');
	});
	
    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            cache: false,
            data: $('#popup_review_form').serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
			},
            complete: function() {
                $('#button-review').button('reset');
			},
            success: function(json) {
                $('.alert-dismissible').remove();
				
                if (json['error']) {
                    let errorOption = '';
					
                    $.each(json['error'], function(i, val) {
                        $('#reviewModal [name="' + i + '"]').addClass('error_style');
                        errorOption += '<div class="alert-text-item">' + val + '</div>';
					});
					
                    scNotify('danger', errorOption);
				}
				
                if (json['success']) {
                    scNotify('success', json['success']);
                    $('#reviewModal').modal('hide');
                    $('#popup_review_form input[name=\'name\']').val('');
                    $('#popup_review_form textarea[name=\'text\']').val('');
                    $('#reviewModal .rm-module-rating-star-is').removeClass('rm-module-rating-star-is');
				}
			}
		});
	});
	
    $('#input-quantity').on('change', function(e) {
        updateValueProduct(false, false, true);
	});
	
    function updateValueProduct(minus, plus, manual) {
        let min = parseInt($('#input-quantity').val());
        let currentMinimum = parseInt($('#min-product-quantity').val());
        let max = parseInt($('#max-product-quantity').val());
		
        if (max === 0)
		return;
		
        if (minus && min > 1) {
			
            if (currentMinimum >= min) {
                $("#input-quantity").val(currentMinimum);
                updateProductPrice();
                return;
				} else if (min > max) {
                $('#input-quantity').val(max);
                updateProductPrice();
                return;
			}
			
            $('#input-quantity').val(~~ $('#input-quantity').val() - 1);
		}
		
        if (plus) {
            if (max && min > max - 1) {
                $('#input-quantity').val(max);
                updateProductPrice();
                return;
				} else if (currentMinimum > min) {
                $('#input-quantity').val(currentMinimum);
                updateProductPrice();
                return;
			}
			
            $('#input-quantity').val(~~ $('#input-quantity').val() + 1);
		}
		
        if (manual) {
            if (currentMinimum >= min) {
                $('#input-quantity').val(currentMinimum);
                updateProductPrice();
                return;
				} else if (min > max) {
                $('#input-quantity').val(max);
                updateProductPrice();
                return;
			}
			
		}
		
        updateProductPrice();
	}
	
    $('#sc-product-options input, #sc-product-options select').on('change', function() {
        updateProductPrice();
	});
	
    {% if oct_showcase_data.product_zoom is defined and oct_showcase_data.product_zoom %}
    $(document).ready(function() {
        $(".oct-gallery").zoom();
	});
    {% endif %}
	
    function updateProductPrice() {
        $.ajax({
            type: 'post',
            url: 'index.php?route=octemplates/main/oct_functions/updatePrices',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\']:not("#oct_purchase_byoneclick_form_product input"), #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select'),
            dataType: 'json',
            cache: false,
            success: function(json) {
                {% if special %}
				$('#product .sc-module-price-old').html(json['price']);
				$('#product .sc-module-price').html(json['special']);
                {% else %}
				$('#product .sc-module-price').html(json['price']);
                {% endif %}
				
                {% if oct_sticker_you_save and you_save %}
				$('#main-product-you-save').html(json['you_save']);
                {% endif %}
				
                {% if tax %}
				$('.price-tax > span').html(json['tax']);
                {% endif %}
			}
		});
	}
	{% if minimum > 1 %}
    updateProductPrice();
	{% endif %}
</script>

{% if oct_showcase_data.micro is defined and oct_showcase_data.micro %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Product",
		"url": "{{ share }}",
		"category": "{{ oct_product_categories }}",
		"image": "{{ thumb }}",
		"brand": {"@type": "Brand","name": "{{ manufacturer }}"},
		"manufacturer": "{{ manufacturer }}",
		"model": "{{ model }}",
		"productID": "{{ product_id }}",
		{% if upc is defined and upc%}
		"gtin12": "{{ upc }}",
		{% endif %}
		{% if ean is defined and ean %}
		"gtin": "{{ ean }}",
		{% endif %}
		{% if mpn is defined and mpn %}
		"mpn": "{{ mpn }}",
		{% endif %}
		{% if sku is defined and sku  %}
		"sku": "{{ sku }}",
		{% endif %}
		{% if rating %}
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "{{ rating }}",
			"ratingCount": "{{ total_reviews }}",
			"reviewCount": "{{ total_reviews }}",
			"bestRating": "5",
			"worstRating": "1"
		},
		{% endif %}
		
		"description": {{ oct_description_microdata_json }},
		"name": {{ oct_micro_heading_title_json }},
		
		"offers": {
			"@type": "Offer",
			"url": "{{ share }}",
			
			{% if oct_special_microdata %}
			{% set special_date = 'now'|date_modify("+30 day") %}
			"priceValidUntil" : "{{ special_date|date('Y-m-d') }}",
			{% else %}
			"priceValidUntil" : "{{ now|date_modify("+60 days") | date("Y-m-d") }}",
			{% endif %}
			
			{% if out_of_stock %}
			"availability": "https://schema.org/OutOfStock",
			{% else %}
			"availability": "https://schema.org/InStock",
			{% endif %}
			
			"price": "{% if not oct_special_microdata %}{{ oct_price_microdata }}{% else %}{{ oct_special_microdata }}{% endif %}",
			"priceCurrency": "{{ oct_price_currency }}",
			"itemCondition": "https://schema.org/NewCondition"
			
			{% if rating %}
		},
		
		"review": [
        {% for rew_one in oct_reviews_all %}
        {
            "@type": "Review",
            "author": {
				"@type": "Person",
				"name": "{{ rew_one.author }}"
			},
            "datePublished": "{{ rew_one.date_added }}",
            "description": "{{ rew_one.text }}",
            "reviewRating": {
                "@type": "Rating",
                "bestRating": "5",
                "ratingValue": "{{ rew_one.rating }}",
                "worstRating": "1"
			}
		}{% if oct_reviews_all|length > loop.index %},{% endif %}
		
        {% endfor %}
		]
		{% else %}
	}
    {% endif %}
}
</script>
{% endif %}

{{ footer }}
